apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: seventyfive-ingress
  namespace: seventyfive
spec:
  rules:
    - host: seventyfive.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
